name = "loom-api-gateway"
main = "src/index.ts"
compatibility_date = "2024-12-28"

[vars]
AI_ENCRYPTION_KEY = "AAet7Y9U6JKYCt19DuBCoPHIO0kjjUkhYnHVWAYI6XM="

[[d1_databases]]
binding = "DB"
database_name = "loom-db"
database_id = "005a7ba7-e776-416d-b8be-4638144e86c2"

[[r2_buckets]]
binding = "R2"
bucket_name = "loom-content"

[[kv_namespaces]]
binding = "CACHE"
id = "9fba16b1cb2a47779283a89647a131ce"

[[kv_namespaces]]
binding = "AI_CONFIG"
id = "14c65b75f9e54ffd86e1bc4a216dd38b"

[[vectorize]]
binding = "VECTORIZE"
index_name = "loom-vectors"

[ai]
binding = "AI"

[[services]]
binding = "PROCESSOR"
service = "loom-processor"
