name = "loom-processor"
main = "src/index.ts"
compatibility_date = "2024-12-28"

[[d1_databases]]
binding = "DB"
database_name = "loom-db"
database_id = "005a7ba7-e776-416d-b8be-4638144e86c2"

[[r2_buckets]]
binding = "R2"
bucket_name = "loom-content"

[[vectorize]]
binding = "VECTORIZE"
index_name = "loom-vectors"

[ai]
binding = "AI"

[[services]]
binding = "API_GATEWAY"
service = "loom-api-gateway"
